<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>

<body>
    <div class="container">
        <h1>High Availability System Coordinator</h1>

    </div>

    <div class="container mt-5">
        <h3>Architecture diagram</h3>
        <p>
            <img src="data:image/png;base64,{{ .DiagramB64 }}" alt="Architecture diagram" />
        </p>
    </div>

    <div class="container mt-5">
        <h3>Coordinator configurations</h3>
        <p>Healthcheck interval: {{ .HealthcheckInterval }}s </p>
    </div>

    <div class="container mt-5">
        <h3>Server healthiness</h3>

        <table class="table text-center">
            <tr>
                <th>Cluster</th>
                <th>Endpoint</th>
                <th>Availability</th>
            </tr>
            {{ range .ServersHealth }}
            <tr>
                <td>{{ .Cluster }}</td>
                <td>{{ .Endpoint }}</td>
                {{ if eq .Health true }}
                <td><span class="badge badge-success">Healthy</span></td>
                {{ else }}
                <td><span class="badge badge-danger">Unhealthy</span></td>
                {{ end }}
            </tr>

            {{ end }}
        </table>
    </div>

    <div class="container mt-5">
        <h3>Data synchronization</h3>

        <p>Total transactions: {{ .NumTxs }}</p>
        <table class="table text-center">
            <tr>
                <th>Cluster</th>
                <th>Endpoint</th>
                <th>Number of transactions performed</th>
            </tr>
            {{ range .DataSync }}
            <tr>
                <td>{{ .Cluster }}</td>
                <td>{{ .Endpoint }}</td>
                <td>{{ .NumTxs }}</td>
            </tr>

            {{ end }}
        </table>
    </div>

    <div class="container mt-5">
        <h3>Demonstration</h3>

        <p>Server toggles</p>

        <table class="table text-center">
            <tr>
                <th>Endpoint</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
            {{ range .EndpointEnabled }}

            <tr>
                <td>{{ .Endpoint }}</td>
                <td>{{ if .Enabled }}Enabled{{ else }}Disabled{{ end }}</td>
                <td><a href="{{ .EnableURL }}" class="ajax-link btn btn-sm btn-outline-success">Enable</a></td>
                <td><a href="{{ .DisableURL }}" class="ajax-link btn btn-sm btn-outline-danger">Disable</a></td>
            </tr>

            {{ end }}
        </table>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        $("a.ajax-link").click(function(e) {
            e.preventDefault();

            var thiz = $(this);
            $.get(
                thiz.attr('href'),
                function(data) {
                    console.log('Successful! ' + thiz.text());
                });
            $(this).parents('td').fadeOut('fast', function() {
                $(this).fadeIn('fast')
            });
        });

        setInterval(reloadPage, 3000);

        function reloadPage() {
            window.location = window.location;
            console.log("Reloaded");
        }
    </script>

</body>

</html>