<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>

<body>
    <div class="container">
        <h1>High Availability System Coordinator</h1>

        <h3>Server Diagram (TODO)</h3>



        <h3>Coordinator configurations</h3>
        <p>Healthcheck interval: {{ .HealthcheckInterval }}s </p>


        <h3>Server healthiness</h3>



        <h3>Data synchronization</h3>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>