<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>

<body>
    <div class="container">
        <h1>High Availability System Coordinator</h1>

    </div>


    <div class="container mt-5">
        <h3>Server Diagram (TODO)</h3>

    </div>

    <div class="container mt-5">
        <h3>Coordinator configurations</h3>
        <p>Healthcheck interval: {{ .HealthcheckInterval }}s </p>

    </div>

    <div class="container mt-5">
        <h3>Server healthiness</h3>

        <table class="table text-center">
            <tr>
                <th>Cluster</th>
                <th>Endpoint</th>
                <th>Availability</th>
            </tr>
            {{ range .ServersHealth }}
            <tr>
                <td>{{ .Cluster }}</td>
                <td>{{ .Endpoint }}</td>
                {{ if eq .Health true }}
                <td><span class="badge badge-success">Healthy</span></td>
                {{ else }}
                <td><span class="badge badge-danger">Unhealthy</span></td>
                {{ end }}
            </tr>

            {{ end }}
        </table>
    </div>


    <div class="container mt-5">
        <h3>Data synchronization</h3>

        <p>Total transactions: {{ .NumTxs }}</p>
        <table class="table text-center">
            <tr>
                <th>Cluster</th>
                <th>Endpoint</th>
                <th>Number of transactions performed</th>
            </tr>
            {{ range .DataSync }}
            <tr>
                <td>{{ .Cluster }}</td>
                <td>{{ .Endpoint }}</td>
                <td>{{ .TransactionSeq }}</td>
            </tr>

            {{ end }}
        </table>
    </div>



    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>